@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/**********************************************************/
/* Container Styling & Variables */
/**********************************************************/
:root {
  --background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Graph_paper_scan_1600x1000_%286509259561%29.jpg/640px-Graph_paper_scan_1600x1000_%286509259561%29.jpg");
  --nav-bg: white;
  --nav-shdw: #aaa;
  --txt: black;
  --desmos-green: #4A4;
  --dark-green: #208020;
  --search-bg-focus: #eee;
  --content-bg: white;
  --font: "Arvo";
  --font-fb: monospace;
}

body {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  background: var(--background);
  background-attachment: fixed;
  backdrop-filter: brightness(0.8);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font), var(--font-fb);
}

.container {
  display: block;
  grid-template-rows: 5em auto;
  grid-template-areas: "nav content";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  gap: 0;
  padding: 0;
  margin: 0;
}

/**********************************************************/
/* Element Styling */
/**********************************************************/
a {
  text-decoration: none;
  color: inherit;
}

/**********************************************************/
/* Cosmetic Classes */
/**********************************************************/
.green {
  color: var(--desmos-green);
}

/**********************************************************/
/* Nav Styling */
/**********************************************************/
nav {
  display: flex;
  align-items: center;
  grid-area: nav;
  background: var(--nav-bg);
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 0 20px var(--nav-shdw);
  color: var(--txt);
}

.title {
  font-size: 1.75em;
  margin: 0 0 0 0.5em;
}

.search {
  font-size: 1.5em;
  font-family: var(--font), var(--font-fb);
  height: 50%;
  padding: 0.5em;
  flex-grow: 0.25;
  margin: 0 0 0 3em;
  text-indent: 0.5em;
  border: 0;
  border-bottom: 1px solid currentcolor;
  transition: all 0.5s ease;
}

.search:focus {
  outline: 0;
  transform: scale(1.05);
  background: var(--search-bg-focus);
}

.navButtons {
  display: flex;
  flex-grow: 0.5;
  justify-content: space-around;
  list-style-type: none;
}

.navButtons button {
  flex-grow: 0.25;
  background: transparent;
  font-size: 1.75em;
  color: black;
  border: 0 solid black;
  transition: all 0.5s ease;
  font-family: var(--font), var(--font-fb);
  margin: 0;
}

.navButtons button:hover, .navButtons button:focus {
  transform: translateY(-5px);
  color: var(--desmos-green);
  border-bottom: 5px solid currentcolor;
  outline: 0;
}

/**********************************************************/
/* Content Styling */
/**********************************************************/
.content {
  display: block;
  grid-area: content;
  width: 100%;
  background: var(--content-bg);
  margin-top: 150px;
  padding: 2em;
  font-family: var(--font), var(--font-fb);
}

.content h1 {
  text-decoration: none;
  font-size: 2.4em;
}

.content h2 {
  font-size: 1.5em;
  font-family: var(--font), var(--font-fb);
  color: var(--dark-green);
}